* {
    margin: 0;
    font-family: verdana;
  }

  .topnav {
    overflow: hidden;
    background-color: rgb(21, 59, 97);
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #f7f5f5;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 15px;
  }
  
  .topnav a:hover {
    background-color: rgba(117, 142, 167, 0.719);
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .topnav a.active {
    background-color: rgba(117, 142, 167, 0.719);
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      padding-right: 10px;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  .slideshow-container {
    max-width: 1300px;
    position: relative;
    margin: auto;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    display: none;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: none;
    transition: background-color 0.3s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 15s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }


.about{
    text-align:center;
    left:50%;
    width:fit-content;
    color:white;
    background:grey;
    border-radius: 10px;
    padding:5px 20px ;
    border:none;
    margin:10px auto;

}

  #cont{
    margin-left: 20px;
    margin-right: 20px;
    font-family: Verdana;
}

.quote{
  background-color: rgb(135, 206, 250);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  font-weight: bold;
  font-family: Lucida ;
}

#emo{
  width: 500px;
  font-family: cursive;
  background:rgb(135, 206, 250);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px ;
  padding: 20px;
  border-radius: 20px;
}

.column1{
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}

.column2{
  display: flex;
}

.a:link{
  color: rgb(135, 206, 250);
}

.a:visited{
  color: rgb(135, 206, 250);
}

.main{
  background-image: url("img16.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  width: 35%;
  margin: 50px auto 0px auto;
}

.register{
  background-color: rgba(211, 209, 209, 0.308);
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.3);
  box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
  color: black;
  padding-top: 10px;
  text-align: center;
  
}
form#register{
  margin: 20px;
}

label{
  font-size: 20px;
}

input#name{
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: 0;
  padding: 10px;
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
}

::placeholder{
    color:black;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid rgb(21, 59, 97);
  background-color: rgb(21, 59, 97);
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: rgb(21, 59, 97);
  color: #f1f1f1;
  padding: 16px 20px;
  margin: 8px 0;
  border: radius 10px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}
 
.tnc{
  background: rgba(0,0,0,0.3);
  color: rgb(0,0,0);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  padding: 30px;
}

.th{
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  padding: 30px;
  margin-top: 20px;
}

.fotcot{
  display: flex;
}

.col1 , .col2 , .col3 , .col4{
  width: 25%;
  padding: 20px;
}

.hero{
    height:100%;
    width:100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(bg2.jpeg);
    background-size: cover;
    background-position: center;
    position: absolute;
}

.form-box{
  width: 380px;
  height: 480px;
  position:relative;
  margin: 6% auto;
  background: rgba(255, 255, 255, 0.9);
  padding: 5px;
  border-radius: 6px;
  overflow: hidden;
  color: rgb(21, 59, 97);

}
.button-box{
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #0c85e93d;
  border-radius: 30px;
}
.toggle-btn{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;


}
#btn{
  top:0;
  left:0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right,rgb(65, 150, 235),rgb(2,38,105));
  border-radius: 30px;
  transition: .5s;
}

.input-group{
  top:180px;
  position: absolute;
  width: 280px;
  transition: .5s;
  text-align: center;
}
.input-field{
  width:100%;
  padding:10px 0 ;
  margin: 5px 5px;
  border-top: 0;
  border-left:0 ;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  color:black;
  background: transparent;

}
.submit-btn{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  margin: 20px auto;
  display: block;
  background:linear-gradient(to right,rgb(65,150,235),rgb(2, 38, 105)); 
  border:0;
  outline: none;
  border-radius: 13px;
  

}
span{
  color:#777;
  font-size: 12px;
  bottom:68px;
  position: absolute;
}
#donor{
  left:50px;
  


}
#reci{
  left:450px;
}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
}

.list{
  padding-left: 3%;
}

